@model library.Models.Entity.TblAuthor
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Author Name</label>
        <input type="text" class="form-control" name="authorName" />

    </div>
    <div style="margin-top:15px">
        <button class=" btn btn-info" id="Button1">Add author</button>
    </div>

</form>