@model library.Models.Entity.TBLWorker
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>AddUser</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>User Name</label>
        <input type="text" class="form-control" name="UserName" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User Surname</label>
        <input type="text" class="form-control" name="UserSurname" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User  Mail</label>
        <input type="text" class="form-control" name="UserMail" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User Username</label>
        <input type="text" class="form-control" name="UserUsername" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User  Password</label>
        <input type="text" class="form-control" name="UserPassword" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User  Picture</label>
        <input type="text" class="form-control" name="UserPicture" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User Phone</label>
        <input type="text" class="form-control" name="UserPhone" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User School</label>
        <input type="text" class="form-control" name="UserSchool" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>User Detail</label>
        <input type="text" class="form-control" name="UserDetail" />

    </div>
    <div style="margin-top:15px">
        <label>Location</label>

        @Html.DropDownListFor(b => b.Libraries.LibrariesID, (List<SelectListItem>)ViewBag.value3, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class=" btn btn-info" id="Button1">Add Worker</button>
    </div>

</form>
